@import 'tailwindcss';
@import "@radix-ui/themes/styles.css";

:root {
    --font-main: 'Geist', system-ui, sans-serif;
    --font-mono: 'Geist Mono', ui-monospace, monospace;
}

body {
    font-family: var(--font-main);
}

@theme {
    --font-main: 'Geist', system-ui, sans-serif;
    --font-mono: 'Geist Mono', ui-monospace, monospace;
}